In [55]:
#request the url with id of the film
#Example 
# http://earlycinema.dch.phil-fak.uni-koeln.de/films/view/1
# import the library we use to open URLs
import urllib.request
import re
# import the BeautifulSoup library so we can parse HTML and XML documents
from bs4 import BeautifulSoup
import pandas as pd


def create_df_film(id):
    # specify which URL/web page we are going to be scraping
    url = "http://earlycinema.dch.phil-fak.uni-koeln.de/films/view/" + str(id)
    # open the url using urllib.request and put the HTML into the page variable
    #catch exception some case id doesn't exist cf 970
    try:
        page = urllib.request.urlopen(url)
        # parse the HTML from our URL into the BeautifulSoup parse tree format
        soup = BeautifulSoup(page, "lxml")
        #the div where the information is
        div_interested = soup.find('div', id='frame1update')
        dateFilms= []
        titles = []
        filmLenghts= []
        filmPricings= []
        filmAllTitles= []
        #filmCountries= []
        filmCompanies= []
        filmGenres= []
        
        ##title + date
        if(div_interested.find('h2', class_='title')):
            title_date = div_interested.find('h2', class_='title').contents[0]


            ##*************Film date***************
            date_film =re.search('(\d+)',title_date)
            if(date_film):
                dateFilms.append(date_film.group())
                ##*************Film title***************
                title = title_date.split("("+date_film.group())
                titles.append(title[0].lstrip().rstrip())
            else:
                dateFilms.append("NO_DATE")
                titles.append(title_date)
        else:
            dateFilms.append("NO_DATE")
            titles.append("NO_TITLE")
        #****************Film Lenght*************************
        #can have more than one parameter 
        #example film id=6
        #<ul>
        #      <li>
        #    4000 Bilder [Bilderzahl entspricht 77_m]              </li>
        #      <li>
        #    80 Meter [Bilderzahl entspricht 77_m]              </li>
        #  </ul>
        lenght = ""
        film_lenght_element = [tag for tag in div_interested.find_all('h3') if tag.text.lstrip().rstrip() == "Film Length"]
        if(film_lenght_element):
            ul_film_lenght = film_lenght_element[0].next_sibling.next_sibling
            if(ul_film_lenght.name == 'ul'):
                for li in ul_film_lenght.findAll('li'):
                    if li.find('ul'):
                        break
                    lenght=lenght +"*"+ li.text.lstrip().rstrip()
                filmLenghts.append(lenght)       
        else:
            filmLenghts.append("") 
        #*********************Pricing**************************
        pricing=""
        film_pricing_element = [tag for tag in div_interested.find_all('h3') if tag.text.lstrip().rstrip() == "Pricing"]
        if(film_pricing_element):
            ul_film_pricing = film_pricing_element[0].next_sibling.next_sibling
            if(ul_film_pricing.name == 'ul'):
                for li in ul_film_pricing.findAll('li'):
                    if li.find('ul'):
                        break
                    pricing=pricing +"*"+ li.text.lstrip().rstrip()
                filmPricings.append(pricing)  
        else:       
            filmPricings.append("") 
        #*******************All titles**********************
        title=""
        film_alltitle_element = [tag for tag in div_interested.find_all('h3') if tag.text.lstrip().rstrip() == "Film titles"]
        if(film_alltitle_element):    
            ul_film_alltitle = film_alltitle_element[0].next_sibling.next_sibling
            if(ul_film_alltitle.name == 'ul'):
                for li in ul_film_alltitle.findAll('li'):
                    if li.find('ul'):
                        break
                    for span in li.findAll('span'):
                        title=title +"*"+ span.text.lstrip().rstrip()
                filmAllTitles.append(title)  
        else:
            filmAllTitles.append("") 

        #*******************Companies - Countries******************
        companie=""
        film_companie_element = [tag for tag in div_interested.find_all('h3') if tag.text.lstrip().rstrip() == "Companies"]
        if(film_companie_element):

            ul_film_companie = film_companie_element[0].next_sibling.next_sibling
            #print(ul_film_companie)
            if(ul_film_companie.name == 'ul'):        
                for a in ul_film_companie.findAll('a'):
                    if a.find('ul'):
                        break
                    film_country =re.search('{.*}',a.text.lstrip().rstrip())
                    #if(film_country):
                    #    filmCountries.append(film_country.group().replace('{',"").replace('}',""))
                    #else:
                    #    filmCountries.append("")
                    companie = companie + "*" + a.text.lstrip().rstrip()
                filmCompanies.append(companie)  
        else:
            filmCompanies.append("") 
            #filmCountries.append("")
        #*****************Film Genres*******************
        genre=''
        film_genre_element = [tag for tag in div_interested.find_all('h3') if tag.text.lstrip().rstrip() == "Genres"]
        if(film_genre_element):
            ul_film_genre = film_genre_element[0].next_sibling.next_sibling
            if(ul_film_genre.name == 'ul'):    
                for a in ul_film_genre.findAll('a'):
                    if a.find('ul'):
                        break
                    genre=genre +"*"+ a.text.lstrip().rstrip()
                try:
                    filmGenres.append(genre)
                except(ValueError):
                    filmGenres.append("ERROR")  
        else:
            filmGenres.append("") 

        df=pd.DataFrame(dateFilms,columns=['Date'])
        df['id early database']=str(id)
        df['Title']=titles
        df['Companies']=filmCompanies
       # df['Countries']=filmCountries
        df['Film lenght']=filmLenghts
        df['Film pricing']=filmPricings
        df['Genre']=filmGenres
        df['All titles']=filmAllTitles
        return df
    except urllib.error.URLError as e:
        print(e.reason + "for id "  + str(id))

In [53]:
#film with more than one genre
#id 75
create_df_film(970)

The HTTP server returned a redirect error that would lead to an infinite loop.
The last 30x error message was:
Moved Temporarilyfor id 970

In [51]:
create_df_film(6)

,Date,id early database,Title,Companies,Film lenght,Film pricing,Genre,All titles
0,1901,6,Der Abbruch des historischen Star-Theaters in ...,*k.Ang. (?),*4000 Bilder [Bilderzahl entspricht 77_m]*80 M...,,,*Further Title:*Der Abbruch des ber√ºhmten Star...

In [56]:
create_df_film(17760)

,Date,id early database,Title,Companies,Film lenght,Film pricing,Genre,All titles
0,NO_DATE,17760,NO_TITLE,,,,,

In [4]:
create_df_film(4)

,Date,id early database,Title,Companies,Film lenght,Film pricing,Genre,All titles
0,1911,4,"Abaka-Industrie auf der Insel Cebu, Philippinen","*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",,,*Nicht-fiktional,*Original Title:*Industrie de l' abaca √† l' √Æl...

In [29]:
import time
from datetime import datetime
df = pd.DataFrame(columns=['Date', 'id early database', 'Title','Companies',
    'Countries',
    'Film lenght',
    'Film pricing',
    'Genre',
    'All titles'])


print("start",datetime.now())   
for i in range(10000,20000): 
    try:
        df=df.append(create_df_film(i),sort=False,ignore_index=True)
    except:
        print("problem with id" , str(i))
        raise
df.to_csv('export_early_cinema_10000_20000.csv')

print("finish",datetime.now())

start 2019-10-24 21:58:28.959863
The HTTP server returned a redirect error that would lead to an infinite loop.
The last 30x error message was:
Moved Temporarilyfor id 15218
problem with id 17760

AttributeError: 'NoneType' object has no attribute 'contents'

In [57]:
df

,Date,id early database,Title,Companies,Countries,Film lenght,Film pricing,Genre,All titles
0,1909,1,A B C,*Deutsche Bioscop (fr.:Greenb) (s.a. Biosc) <D...,NaN,*90 Meter,,,
1,1910,2,Aale,"*Elge Gaumont, Leo (Dt.Gaumont) {fr} (s.a. Blu...",NaN,*62 Meter,"*62,00 Mark*4,90 Mark (Surcharge for Colour)",*Nicht-fiktional,*Original Title:*Petites anguilles
2,1910,3,Ab vom rechten Wege,*GB England ohne Produktionsangabe {uk} (Gro√üb...,NaN,*215 Meter,"*215,00 Mark*17,00 Mark (Surcharge for Colour)",,
3,1911,4,"Abaka-Industrie auf der Insel Cebu, Philippinen","*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,,,*Nicht-fiktional,*Original Title:*Industrie de l' abaca √† l' √Æl...
4,1901,5,Das Abbrennen des Kaiserpalastes in China,"*Soci√©t√© G√©n√©rale des Cinemas et Films, Paris ...",NaN,,,*Nicht-fiktional,*Further Title:*Tod des Generals Schwartzkopf
5,1901,6,Der Abbruch des historischen Star-Theaters in ...,*k.Ang. (?),NaN,*4000 Bilder [Bilderzahl entspricht 77_m]*80 M...,,,*Further Title:*Der Abbruch des ber√ºhmten Star...
6,1911,7,Der Abdruck des Daumens,*Vitagraph Co.of America {us} <Vitagr> (USA),NaN,,,,*Original Title:*The Thumb Print
7,1911,8,Ein Abend auf dem Bauernhof,*k.Ang. (?)*Deutsche Filmverleiher Vereinigung...,NaN,*218 Meter,"*218,00 Mark*16,00 Mark (Surcharge for Colour)",*Drama,
8,1911,9,Abend auf dem Lande,*Komet Film (fr.:PaulUn) (Deutschland),NaN,*50 Meter,"*50,00 Mark*5,00 Mark (Surcharge for Colour)*5...",*Tonbild,
9,1907,10,Das Abendbrot,*Nordisk Films Co {dk} <Nordsk> (D√§nemark),NaN,*65 Meter,"*65,00 Mark",*Lustspiel,*Original Title:*Ripp og Rapp. Aftensmaden*Fur...
10,1909,11,Die Abendglocke,*Edison; Ed.Kinetoscope;Dt.Ed.Kinetophon(= Ton...,NaN,*293 Meter,,*Drama,
11,1905,12,Das Abendmahl,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*25 Meter,"*25,00 Mark",*Drama,*Original Title:*La C√®ne*Series Title:*Das Leb...
12,1907,13,Abends nach Neune,*Deutsche Bioscop (fr.:Greenb) (s.a. Biosc) <D...,NaN,*60 Meter,,*Tonbild,*Further Title:*Duett: Amme und Soldat
13,1910,14,"Abendstimmung am See bei Annecy, Savoyen","*Elge Gaumont, Leo (Dt.Gaumont) {fr} (s.a. Blu...",NaN,*81 Meter,"*81,00 Mark*6,50 Mark (Surcharge for Colour)",*Nicht-fiktional,*Original Title:*Sur le lac d' Annecy
14,1911,15,Die Abenteuer,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*735 Meter,,*Lustspiel,
15,1910,16,Abenteuer auf dem Maskenball,"*Duskes Film-Fabriken, Berlin (s.a: Litera) <D...",NaN,,,*Tonbild,
16,1906,17,Abenteuer auf der Wohnungssuche,"*Elge Gaumont, Leo (Dt.Gaumont) {fr} (s.a. Blu...",NaN,*124 Meter,"*124,00 Mark",*Lustspiel,*Original Title:*A la recherche d' un appartement
17,1911,18,Die Abenteuer Cyranos de Bergerac,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,,"*750,00 Mark",*Drama,
18,1910,19,Abenteuer der Familie Lehmann im Luna-Park,"*Duskes Film-Fabriken, Berlin (s.a: Litera) <D...",NaN,*240 Meter,"*240,00 Mark*12,00 Mark (Surcharge for Colour)",*Lustspiel,
19,1910,20,Das Abenteuer der S√§ngerin,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*195 Meter,"*195,00 Mark*14,00 Mark (Surcharge for Colour)",,*Further Title:*Das Abenteuer einer S√§ngerin
20,1911,21,Die Abenteuer des Boxers,*SCAGL (Soc.Cin.des Auteurs et Gens de Lettres...,NaN,*260 Meter,"*260,00 Mark*12,00 Mark (Surcharge for Colour)",*Lustspiel,*Original Title:*Les Aventures de John Ping
21,1910,22,Die Abenteuer des Goldlandes,*SCAGL (Soc.Cin.des Auteurs et Gens de Lettres...,NaN,*280 Meter,"*280,00 Mark*69,00 Mark (Surcharge for Colour)",*Drama,*Original Title:*Les Aventuriers du val d' or*...
22,1909,23,Abenteuer des Kalifen,*Nordisk Films Co {dk} <Nordsk> (D√§nemark),NaN,*180 Meter,"*180,00 Mark*20,80 Mark (Surcharge for Colour)",*Lustspiel,*Original Title:*Kaliffens Eventyr*Further Tit...
23,1910,24,Abenteuer des Kapit√§n Morgan,"*Dentler, Braunschweig (Vt)",NaN,,"*195,00 Mark",*Drama,
24,1911,25,Das Abenteuer des kleinen Ludwig,"*Films und Kinematographen Lux, Paris (s.a. Lu...",NaN,,,,*Original Title:*Aventure de petit Louis le pa...
25,1911,26,Das Abenteuer des Nachtschw√§rmers,*American Kinematograph (AK) (Verleih: Pathe) ...,NaN,*200 Meter,,*Lustspiel,*TID:*L' Aventure de Mister Smith
26,1910,27,Abenteuer einer Bassgeige,"*Cines, Rom (auch: Deutsche Cines) {it} (Italien)",NaN,*153 Meter,,,*Original Title:*Le Avventure di un contrabasso
27,1911,28,Abenteuer einer Indianerin,"*Dentler, Braunschweig (Vt)",NaN,,"*287,00 Mark",*Drama,
28,1909,29,Abenteuer einer Unschuld vom Lande,*Deutsche Film S. (Vt),NaN,*76 Meter,,*Lustspiel,
29,1907,30,Die Abenteuer eines alten M√§dchenj√§gers,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*140 Meter,,,*Further Title:*Die Abenteuer eines M√§dchenj√§g...
...,...,...,...,...,...,...,...,...,...
69,1911,70,Abgeblitzt,*USA ohne Produktionsangabe {us} (USA)*Oppenhe...,NaN,,,*Lustspiel,
70,1909,71,Abgebr√ºht,*k.Ang. (?),NaN,,,*Nicht-fiktional,
71,1909,72,Der Abgeordnete,"*Cines, Rom (auch: Deutsche Cines) {it} (Italien)",NaN,*157 Meter,"*157,00 Mark",*Lustspiel,*Original Title:*Il Deputato
72,1908,73,Das Abgeschlagene Geschenk des Onkels,*R+R Raleigh Robert (s.a. Warwck) {fr} (Frankr...,NaN,*154 Meter,,*Lustspiel,
73,1910,74,Der Abgott entthront,*Edison; Ed.Kinetoscope;Dt.Ed.Kinetophon(= Ton...,NaN,*102 Meter,"*102,00 Mark",*Lustspiel,*Original Title:*Fallen Idol
74,1910,75,Abgr√ºnde,*Kosmorama {dk} (D√§nemark),NaN,"*850 Meter, 2 acts*45 Minuten*772 Meter, 2 acts",,*Sensationsdrama*Schauspiel*Drama,*Original Title:*Afgrunden*Further Title:*Fr√§u...
75,1911,76,Abgr√ºnde. II,"*Vitascope (s.a. DeutV, PaguV, UnionV) (Deutsc...",NaN,,,*Drama,
76,1911,77,Der Abgrund,*American Kinematograph (AK) (Verleih: Pathe) ...,NaN,*265 Meter,"*265,00 Mark*20,00 Mark (Surcharge for Colour)",*Drama,*TID:*Le Gouffre fatal
77,1908,78,Abl√∂sung der Leuchtschiffe um Englands K√ºste,"*C+M Cricks Martin, London {uk} (Gro√übritannien)",NaN,*105 Meter,,*Nicht-fiktional,
78,1906,79,Abl√∂sung in der Liebe,"*Elge Gaumont, Leo (Dt.Gaumont) {fr} (s.a. Blu...",NaN,*85 Meter,"*85,00 Mark",*Lustspiel,*Original Title:*La Hi√©rarchie dans l' amour
79,1911,80,Abraham Lincolns Grossmut,*American Kinematograph (AK) (Verleih: Pathe) ...,NaN,*190 Meter,"*190,00 Mark*2,00 Mark (Surcharge for Colour)",*Drama,*TID:*La Cl√©mence d' Abraham Lincoln
80,1911,81,Abrahams Opfer,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*250 Meter,,,*Original Title:*Le Sacrifice d' Abraham
81,1911,82,Absalons Opfer,"*Films und Kinematographen Lux, Paris (s.a. Lu...",NaN,*144 Meter,"*144,00 Mark*8,00 Mark (Surcharge for Colour)",*Lustspiel,*Original Title:*Le Sacrifice d' Absalon
82,1910,83,Abschied,"*Vitascope (s.a. DeutV, PaguV, UnionV) (Deutsc...",NaN,*62 Meter,,*Tonbild,
83,1910,84,Abschied eines entsprungenen Str√§flings von se...,*Deutsche Mutoskop und Biograph (auch: Mutosko...,NaN,*5 Szenen*140 Meter,,*Drama,*Further Title:*Abschied eines entsprungenen S...
84,1910,85,Ein Abschied f√ºr ewig,"*Regia Film, Kopenhagen {dk} (D√§nemark)",NaN,*320 Meter,"*335,00 Mark",,
85,1910,86,Abschied vom Junggesellenleben,"*Cines, Rom (auch: Deutsche Cines) {it} (Italien)",NaN,*134 Meter,,*Lustspiel,*Original Title:*L' Ultima notte da scapolo
86,1910,87,Der Abschiedsbrief,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*150 Meter,"*150,00 Mark",*Lustspiel,*Original Title:*La Lettre de rupture
87,1905,88,Abstieg des Mont Serrat in Spanien,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*40 Meter,"*40,00 Mark",*Nicht-fiktional,*Original Title:*Descente du Mont Serrat
88,1905,89,Absturz der Lampe,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*40 Meter,,,
89,1910,90,Die Abtei von Lerins,"*Dentler, Braunschweig (Vt)",NaN,,"*94,00 Mark",*Nicht-fiktional,
90,1909,91,"Ach, die Ratten",*Edison; Ed.Kinetoscope;Dt.Ed.Kinetophon(= Ton...,NaN,*148 Meter,,*Lustspiel,"*Original Title:*Oh, Rats!"
91,1908,92,Ach diese Schwiegermutter,"*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*106 Meter,,*Drama,*Original Title:*L' Obsession de la belle-m√®re...
92,1901,93,"Ach, diese Wanzen","*Path√© Fr√®res, Paris (s.a. Thepa) {fr} <Pathe>...",NaN,*15 Meter,"*15,00 Mark",*Lustspiel,*Original Title:*La Chasse est ouverte
93,1909,94,Ach Du mein s√ºsses Sch√§tzchen,*k.Ang. (?),NaN,,,,
94,1909,95,"Ach, Du s√ºsse Grete",*Deutsche Bioscop (fr.:Greenb) (s.a. Biosc) <D...,NaN,*64 Meter,,,
95,1909,96,"Ach, ich schiebe, ach, ich schiebe",*Deutsche Mutoskop und Biograph (auch: Mutosko...,NaN,,,*Tonbild,*Further Title:*Kinderm√§dchen-Polka
96,1909,97,"Ach, k√∂nnt' ich doch immer so lieben",*Deutsche Film S. (Vt),NaN,*40 Meter,,*Lustspiel,
97,1907,98,Ach k√∂nnt ich noch einmal so lieben,*Deutsche Mutoskop und Biograph (auch: Mutosko...,NaN,*40 Meter,,*Tonbild,
98,1910,99,Ach machen Sie das noch mal,*Deutsche Bioscop (fr.:Greenb) (s.a. Biosc) <D...,NaN,*65 Meter,"*65,00 Mark*5,00 Mark (Surcharge for Record)",*Tonbild,

In [ ]:
test4

In [ ]:
df.to_csv('export_early_cinema_99.csv')