In [28]:
#request the url with id of the organism
#Example 
# https://www.lesarchivesduspectacle.net/?IDX_Organisme=439&Saison=2008
# Arsenal id 439
# import the library we use to open URLs
import urllib.request
import re
import pandas as pd
# import the BeautifulSoup library so we can parse HTML and XML documents
from bs4 import BeautifulSoup
organism="439"
saison="2010"
# specify which URL/web page we are going to be scraping
url = "https://www.lesarchivesduspectacle.net/?IDX_Organisme=" + organism + "&Saison=" + saison
# open the url using urllib.request and put the HTML into the page variable
page = urllib.request.urlopen(url)
# parse the HTML from our URL into the BeautifulSoup parse tree format
soup = BeautifulSoup(page, "lxml")
#the div where the information is
div_interested = soup.find('div', id='async-org-saison-annee')
table = div_interested.find_all('table')[0] # Grab the first table 
df = pd.DataFrame(columns=['organism_id', 'year', 'performance', 
                           'performanceId', 'author', 'authordId', 'genre', 'period', 'occurency','place'])
row_marker = 0
for row in table.find_all('tr'):
    column_marker = 0
    columns = row.find_all('td')
    for column in columns:
        organism_id  = organism
        year = saison
        performance = ""
        performanceId = ""
        author = ""
        authord_id = ""
        genre= "" 
        period= ""
        occurency= ""
        place= ""
        if(column_marker == 0):
            genre = columns[0].get_text()
            #parse the first td performance - performanceId 
            performance_element = columns[0].find('a',class_='c_Spectacle')
            if(performance_element):
                performance = performance_element.contents[0]
                performanceId = performance_element['href']
                #parse the first td author - authorId
            author_element = columns[0].find('a',class_='c_Personne')
            if(author_element):
                author = author_element.contents[0]
                authorId = author_element['href']
        else:
            if(column_marker == 1):
                period = columns[1].get_text()
            if(column_marker == 2):
                occurency = columns[2].get_text()
            if(column_marker == 3):
                place= columns[3].get_text()
        df = df.append({'organism_id': organism_id, 'year': year, 'performance': performance,'performanceId': performanceId,'author' : author, 'authordId':  authorId, 'genre': genre, 'period': period, 'occurency':occurency,'place':place}, ignore_index=True) # yuck
        column_marker += 1  
    row_marker += 1
    
df

,organism_id,year,performance,performanceId,author,authordId,genre,period,occurency,place
0,439,2010,Babel (Words),/?IDX_Spectacle=23453,Sidi Larbi Cherkaoui,/?IDX_Personne=4676,\nBabel (Words) chorégraphie Sidi Larbi Cherk...,,,
1,439,2010,,,,/?IDX_Personne=4676,,\n08/10 → 09/10\n,,
2,439,2010,,,,/?IDX_Personne=4676,,,[2 rep.],
3,439,2010,,,,/?IDX_Personne=4676,,,,\n (Grande salle)\n
4,439,2010,,,,/?IDX_Personne=4676,,,,
...,...,...,...,...,...,...,...,...,...,...
83,439,2010,Pacifique,/?IDX_Spectacle=28494,Nasser Martin-Gousset,/?IDX_Personne=5024,\nPacifique chorégraphie Nasser Martin-Gousset\n,,,
84,439,2010,,,,/?IDX_Personne=5024,,\n09/06\n,,
85,439,2010,,,,/?IDX_Personne=5024,,,[1 rep.],
86,439,2010,,,,/?IDX_Personne=5024,,,,\n (Grande salle)\n
87,439,2010,,,,/?IDX_Personne=5024,,,,